Python Loop Statements:

In Python, loops are used to execute a block of code repeatedly. There are two types of loops in Python: for loops and while loops.

1. Python For Loop

In [ ]:
The for loop is used in Python to iterate over a sequence of values, such as a list, tuple, string, or range. The basic syntax of a for loop is as follows:

Syntax:

for variable in sequence:
    do somethings
The item is a new variable that is created with each iteration of the loop, and takes on the value of the next element in the items. The code block that follows the for statement is executed for each value in the items.

Here's an example of how to use the for loop to iterate over a list:

In [2]:
fruits = ["apples","Banana", "cherry"]

In [3]:
for fruit in fruits:
    print("fruit is ", fruit)

fruit is  apples
fruit is  Banana
fruit is  cherry

The range function is commonly used in for loops to generate a sequence of integers. Here's an example:

In [4]:
base_str = "*"

for i in range(1,6,1):
    print(base_str * i)

*
**
***
****
*****

`Nested for` loops can also be used to iterate over multiple sequences. Here's an example:

In [5]:
adj = ["red", "big", "tasty"]
fruits = ["apples","Banana", "cherry"]

In [6]:
for fruit in fruits:
    for ad in adj:
        print(ad, fruit)

red apples
big apples
tasty apples
red Banana
big Banana
tasty Banana
red cherry
big cherry
tasty cherry

Write a Program to Display the Multiplication Table of a Given Number:
Create a Python program that asks the user to enter an integer, and then prints the multiplication table for that number from 1 to 10. Use a for loop to generate and display the table.

number=8

In [8]:
number = 8

for i in range(1,11):
    print(f"{number} x {i} = {number*i}")

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Multiple arguments in loop:

In [9]:
person = {
    "name" : "vince",
    "age" : 30,
    "gender" : "male"
}

In [12]:
for p in person.items():
    print(p)

('name', 'vince')
('age', 30)
('gender', 'male')

In [13]:
for (key, value) in person.items():
    print(key, value)

name vince
age 30
gender male

In [14]:
coordinate = [
    [1,23],[4,65],[7,9]
]

In [15]:
for x,y in coordinate:
    print(x,y)

1 23
4 65
7 9

Break and Continue:

In [16]:
for i in range(1,10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [17]:
for i in range(1,10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9