In [21]:
import pandas as pd

df = pd.read_csv("../data/processed_credit_card_clients.csv")

In [22]:
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
1,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [23]:
df["SEX"] = df["SEX"].map({1:0,2:1})

In [24]:
df = pd.get_dummies(df,columns=["EDUCATION","MARRIAGE"], drop_first= True)

In [25]:
df

,LIMIT_BAL,SEX,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,...,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month,EDUCATION_2,EDUCATION_3,EDUCATION_4,MARRIAGE_2,MARRIAGE_3
0,20000,1,24,2,2,-1,-1,-2,-2,3913,...,0,0,0,0,1,True,False,False,False,False
1,120000,1,26,-1,2,0,0,0,2,2682,...,1000,1000,0,2000,1,True,False,False,True,False
2,90000,1,34,0,0,0,0,0,0,29239,...,1000,1000,1000,5000,0,True,False,False,True,False
3,50000,1,37,0,0,0,0,0,0,46990,...,1200,1100,1069,1000,0,True,False,False,False,False
4,50000,0,57,-1,0,-1,0,0,0,8617,...,10000,9000,689,679,0,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000,0,39,0,0,0,0,0,0,188948,...,5003,3047,5000,1000,0,False,True,False,False,False
29996,150000,0,43,-1,-1,-1,-1,0,0,1683,...,8998,129,0,0,0,False,True,False,True,False
29997,30000,0,37,4,3,2,-1,0,0,3565,...,22000,4200,2000,3100,1,True,False,False,True,False
29998,80000,0,41,1,-1,0,0,0,-1,-1645,...,1178,1926,52964,1804,1,False,True,False,False,False
29999,50000,0,46,0,0,0,0,0,0,47929,...,1430,1000,1000,1000,1,True,False,False,False,False

### Encoding Strategy
- SEX encoded as binary (0/1)
- EDUCATION and MARRIAGE one-hot encoded to avoid artificial order
- Ordinal PAY features kept numeric

In [26]:
from sklearn.preprocessing import StandardScaler
scale_cols=[
   "LIMIT_BAL", "AGE",
    "BILL_AMT1","BILL_AMT2","BILL_AMT3","BILL_AMT4","BILL_AMT5","BILL_AMT6",
    "PAY_AMT1","PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6"

]

In [27]:
scaler = StandardScaler()

In [28]:
df[scale_cols] = scaler.fit_transform(df[scale_cols])

In [29]:
scale_cols

['LIMIT_BAL',
 'AGE',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6']

### Feature Scaling
- StandardScaler applied to continuous numerical features
- Binary and ordinal features left unscaled

In [30]:
df[scale_cols].describe()

,LIMIT_BAL,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
count,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04
mean,-6.063298e-17,-1.856885e-16,-1.231607e-17,-3.789561e-17,6.252776e-17,5.873820e-17,-2.368476e-17,1.136868e-17,-4.736952e-18,1.373716e-17,2.084259e-17,1.800042e-17,-1.965835e-17,-1.788199e-17
std,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00
min,-1.213794e+00,-1.571479e+00,-2.944312e+00,-1.671375e+00,-2.945672e+00,-3.315048e+00,-2.000874e+00,-6.355247e+00,-3.419416e-01,-2.569895e-01,-2.968013e-01,-3.080626e-01,-3.141361e-01,-2.933821e-01
25%,-9.054983e-01,-8.120745e-01,-6.473120e-01,-6.490466e-01,-6.394814e-01,-6.363293e-01,-6.340600e-01,-6.316338e-01,-2.815661e-01,-2.208358e-01,-2.746506e-01,-2.891680e-01,-2.976091e-01,-2.867584e-01
50%,-2.118326e-01,-1.611565e-01,-3.916884e-01,-3.931159e-01,-3.882529e-01,-3.763451e-01,-3.652683e-01,-3.660725e-01,-2.151530e-01,-1.697952e-01,-1.945673e-01,-2.123132e-01,-2.159561e-01,-2.090042e-01
75%,5.589071e-01,5.982479e-01,2.154919e-01,2.083271e-01,1.896457e-01,1.747667e-01,1.624955e-01,1.733997e-01,-3.970176e-02,-3.998021e-02,-4.093230e-02,-5.188511e-02,-5.026084e-02,-6.837436e-02
max,6.416528e+00,4.720729e+00,1.240296e+01,1.313360e+01,2.331820e+01,1.318669e+01,1.458743e+01,1.549528e+01,5.239921e+01,7.284299e+01,5.059528e+01,3.933218e+01,2.760363e+01,2.944510e+01