In [33]:
import pandas as pd
import numpy as np

In [34]:
df = pd.read_csv("Walmart_Sales.csv")

In [35]:
df.shape

(6435, 8)

In [36]:
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

# Key Insights from This EDA:

Weekly_Sales is right-skewed (some weeks/stores have very high sales).

Only ~7% of weeks are holidays, but sales during holidays may spike.

Some stores consistently generate higher total sales than others.

Economic and weather factors (Temperature, Fuel_Price, CPI, Unemployment) can be correlated with sales.

In [38]:
df.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

In [39]:
df.isnull().sum()

Store           0
Date            0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
dtype: int64

No missing data observed.

In [40]:
df["Weekly_Sales"].sum()

np.float64(6737218987.11)

In [41]:
df.value_counts()

Store  Date        Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  CPI         Unemployment
1      01-04-2011  1495064.75    0             59.17        3.524       214.837166  7.682           1
30     30-09-2011  387001.13     0             78.91        3.355       216.362033  7.852           1
31     02-07-2010  1311704.92    0             82.29        2.669       210.880373  8.099           1
       02-04-2010  1357600.68    0             64.12        2.719       210.479887  8.200           1
       02-03-2012  1427881.22    0             59.30        3.630       220.486689  7.057           1
                                                                                                   ..
15     30-12-2011  603460.79     1             31.44        3.566       136.643258  7.866           1
       30-09-2011  521297.31     0             64.87        3.858       136.419500  7.806           1
       30-07-2010  619224.06     0             72.04        2.932       132.598387  8.099           1
       30-04-2010  570791.11     0             49.09        3.042       132.064433  8.185           1
45     31-12-2010  679156.20     1             29.67        3.179       182.571448  8.724           1
Name: count, Length: 6435, dtype: int64

In [42]:
holiday_sales = df[df["Holiday_Flag"] == 1]['Weekly_Sales'].values
holiday_sales

array([1641957.44, 1507460.69, 1955624.11, 1367320.01, 1649614.93,
       1540471.24, 2033320.66, 1497462.72, 1802477.43, 1661767.33,
       2137809.5 , 1839128.83, 2658725.29, 1750434.55, 2168041.61,
       1748000.65, 2614202.3 , 1874226.52, 2103322.68, 1898777.07,
        420728.96,  352260.97,  565567.84,  382677.76,  430526.21,
        377347.49,  556925.19,  410553.88,  473292.47,  408229.73,
       2188307.39, 1865820.81, 2789469.45, 1794868.74, 2187847.29,
       2093139.01, 3004702.33, 2007105.86, 2374660.64, 2125104.72,
        311825.7 ,  306533.08,  488362.61,  298180.18,  311590.54,
        321110.22,  507900.07,  349624.88,  349239.88,  350648.91,
       1606283.86, 1424225.44, 2267452.4 , 1464050.02, 1486920.17,
       1483574.38, 2249811.55, 1598080.52, 1620603.92, 1608077.01,
        524104.92,  535769.32,  835189.26,  729572.08,  559903.13,
        613135.23,  949075.87,  815915.52,  563460.77,  597876.55,
        994801.4 ,  831425.2 , 1261693.16,  773586.49,  996147.39,
        848358.09, 1235163.86,  858572.22, 1021400.42,  932160.37,
        552677.48,  484835.2 ,  768070.53,  459770.85,  555279.02,
        528784.86,  814753.5 ,  549788.36,  609736.12,  565812.29,
       2176028.52, 1720530.23, 2939946.38, 1707298.14, 2115408.31,
       1670579.82, 2950198.64, 1930690.37, 2218595.8 , 1708283.28,
       1574684.08, 1231428.46, 1757242.51, 1172003.1 , 1419236.9 ,
       1249439.95, 1848953.48, 1352084.21, 1574287.76, 1304584.4 ,
       1117863.33,  903119.03, 1601377.41,  891736.91, 1086421.57,
        922850.57, 1591920.42, 1111638.07, 1199330.85,  955146.04,
       2030933.46, 1772143.94, 2766400.05, 1675292.  , 1944438.9 ,
       1872921.31, 2864170.61, 1969056.91, 2069284.57, 2165796.31,
       1704218.84, 2191767.76, 2921709.71, 1623716.46, 1980405.03,
       2202742.9 , 2685351.81, 1914148.89, 2077256.24, 1904512.34,
        682447.1 ,  641965.2 , 1120018.92,  543754.17,  582864.35,
        607593.51, 1066478.1 ,  603460.79,  628218.22,  587259.82,
        472044.28,  537518.57,  651837.77,  575317.38,  466806.89,
        574622.56,  712422.4 ,  665861.06,  473766.97,  537138.58,
        841951.91, 1200888.28, 1005448.76,  635862.55,  813211.46,
       1161900.18, 1225700.28,  777207.3 ,  880165.7 , 1255633.29,
       1187880.7 , 1011201.12, 1653759.36,  887907.01, 1122053.58,
        951549.61, 1624170.99, 1010562.49, 1161615.51, 1083521.24,
       1536549.95, 1591453.39, 1993367.83, 1275146.94, 1430851.11,
       1566712.79, 1974646.78, 1405168.06, 1499496.67, 1497073.82,
       2109107.9 , 2014954.79, 2811634.04, 1799737.79, 2211388.14,
       2050542.56, 2906233.25, 2043245.  , 2462978.28, 2080529.06,
        809321.44,  674055.81, 1245628.61,  672903.23,  771908.51,
        653989.65, 1219263.4 ,  804362.36,  770652.79,  642827.29,
       1022571.25,  924174.4 , 1564502.26,  774262.28, 1009206.33,
       1004434.54, 1535857.49,  982661.14, 1034448.07,  996628.8 ,
       1380892.08, 1272842.85, 2072685.05, 1169773.85, 1249786.4 ,
       1423289.9 , 2057059.53, 1213486.95, 1358444.07, 1427162.26,
       1414107.1 , 1474498.59, 1779276.51, 1208600.05, 1341240.62,
       1527455.19, 1761235.67, 1363973.16, 1403460.87, 1477134.75,
        583364.02,  655811.95, 1115240.61,  623092.54,  615666.78,
        673248.48, 1116211.39,  683665.37,  658984.38,  671482.9 ,
       1015684.09, 1042226.3 , 1286833.62,  877268.29, 1010711.08,
       1069710.97, 1282320.05,  972834.42, 1081005.64, 1081874.03,
       1745362.72, 1913494.81, 2627910.75, 1440963.  , 1636224.77,
       1911470.84, 2504400.71, 1650604.6 , 1651605.35, 1840955.23,
       1558968.49, 1246062.17, 1937033.5 , 1090558.57, 1397301.38,
       1310087.  , 1929738.27, 1270036.53, 1572966.15, 1469693.99,
        529672.95,  491290.37,  975268.91,  465992.02,  550387.78,
        505406.72,  913165.19,  551743.05,  545840.05,  540811.85,
        497374.57,  455162.92,  462732.36,  397631.02,  470921.24,
        370897.82,  452163.93,  376777.45,  451365.99,  433565.77,
       1543947.23, 1308179.02, 1858856.06, 1198071.6 , 1539230.32,
       1376670.27, 1934099.65, 1355405.95, 1527688.58, 1358111.62,
       1123566.12, 1028635.39, 1634635.86,  955463.84, 1124357.2 ,
       1128237.3 , 1684468.66, 1102367.65, 1129422.86, 1126685.95,
        294882.83,  272834.88,  240044.57,  219804.85,  276198.74,
        281842.28,  255996.47,  215359.21,  282552.58,  286428.78,
        994610.99,  932240.96, 1309476.68,  902109.69, 1015654.6 ,
        930506.14, 1345595.82,  965512.36, 1047658.09,  976415.56,
       1168815.31,  961685.98, 1781866.98,  576332.05,  859258.17,
        922440.64, 1733822.4 ,  904650.55,  849779.14,  984833.35,
        469563.7 ,  434471.38,  408891.49,  359310.65,  401501.2 ,
        352960.64,  332811.55,  287425.22,  335741.9 ,  293728.57,
        529852.7 ,  510296.07,  518220.72,  460331.7 ,  522514.32,
        506273.74,  522554.04,  451327.61,  527041.46,  526838.14,
        342214.9 ,  336227.69,  360857.98,  303908.81,  377672.46,
        397771.68,  393715.71,  342667.35,  469787.38,  490274.82,
       1266229.07, 1279666.47, 2149355.2 , 1230012.16, 1227893.89,
       1429345.86, 2338832.4 , 1537139.56, 1442988.44, 1609811.75,
        955338.29,  967310.82, 1166142.85,  811318.3 ,  931939.52,
       1021391.99, 1230011.95,  908853.15,  999785.48, 1088248.4 ,
       1075656.34, 1172672.27, 1866681.57, 1001790.16, 1150003.36,
       1280958.97, 1906713.35, 1264014.16, 1238844.56, 1392143.82,
        575709.96,  589091.04,  522296.71,  428953.6 ,  628063.88,
        608390.94,  577698.37,  454412.28,  674919.45,  617405.35,
        682918.99,  722120.04,  633520.34,  534740.3 ,  635650.98,
        649128.23,  669965.22,  505405.85,  662198.65,  663814.18,
        286857.13,  283455.13,  307646.5 ,  241937.11,  307486.73,
        295811.25,  309129.01,  263917.85,  325377.97,  338737.33,
        656988.64,  721460.22, 1182500.16,  679156.2 ,  766456.  ,
        746129.56, 1170672.94,  869403.63,  803657.12,  766512.66])

In [43]:
non_holiday_sales = df[df['Holiday_Flag'] == 0]['Weekly_Sales'].values
non_holiday_sales

array([1643690.9 , 1611968.17, 1409727.59, ...,  734464.36,  718125.53,
        760281.43], shape=(5985,))

In [44]:
np.mean(holiday_sales)

np.float64(1122887.8923555557)

In [47]:
 np.mean(non_holiday_sales)*100

np.float64(104125638.02088556)

In [48]:
store_sales = df.groupby('Store')['Weekly_Sales'].sum()

In [49]:
store_sales

Store
1     2.224028e+08
2     2.753824e+08
3     5.758674e+07
4     2.995440e+08
5     4.547569e+07
6     2.237561e+08
7     8.159828e+07
8     1.299512e+08
9     7.778922e+07
10    2.716177e+08
11    1.939628e+08
12    1.442872e+08
13    2.865177e+08
14    2.889999e+08
15    8.913368e+07
16    7.425243e+07
17    1.277821e+08
18    1.551147e+08
19    2.066349e+08
20    3.013978e+08
21    1.081179e+08
22    1.470756e+08
23    1.987506e+08
24    1.940160e+08
25    1.010612e+08
26    1.434164e+08
27    2.538559e+08
28    1.892637e+08
29    7.714155e+07
30    6.271689e+07
31    1.996139e+08
32    1.668192e+08
33    3.716022e+07
34    1.382498e+08
35    1.315207e+08
36    5.341221e+07
37    7.420274e+07
38    5.515963e+07
39    2.074455e+08
40    1.378703e+08
41    1.813419e+08
42    7.956575e+07
43    9.056544e+07
44    4.329309e+07
45    1.123953e+08
Name: Weekly_Sales, dtype: float64

In [50]:
store_sales.sort_values(ascending=False).head()

Store
20    3.013978e+08
4     2.995440e+08
14    2.889999e+08
13    2.865177e+08
2     2.753824e+08
Name: Weekly_Sales, dtype: float64

In [51]:
store_sales.sort_values().head()

Store
33    37160221.96
44    43293087.84
5     45475688.90
36    53412214.97
38    55159626.42
Name: Weekly_Sales, dtype: float64

In [52]:
numeric_cols = ['Weekly_Sales', 'Temperature', 'Fuel_Price', 'CPI', 'Unemployment']
correlation_matrix = df[numeric_cols].corr()

In [53]:
numeric_cols

['Weekly_Sales', 'Temperature', 'Fuel_Price', 'CPI', 'Unemployment']

In [54]:
correlation_matrix

              Weekly_Sales  Temperature  Fuel_Price       CPI  Unemployment
Weekly_Sales      1.000000    -0.063810    0.009464 -0.072634     -0.106176
Temperature      -0.063810     1.000000    0.144982  0.176888      0.101158
Fuel_Price        0.009464     0.144982    1.000000 -0.170642     -0.034684
CPI              -0.072634     0.176888   -0.170642  1.000000     -0.302020
Unemployment     -0.106176     0.101158   -0.034684 -0.302020      1.000000

In [56]:
pd.crosstab(
    [df.Temperature,df.Weekly_Sales],
    [df.CPI,df.Fuel_Price],
    margins = True
)*100

CPI                      126.064                   126.076645             \
Fuel_Price                 2.698 2.837 3.049 3.159      2.671 2.85 3.041
Temperature Weekly_Sales
-2.06       558027.77          0     0     0     0          0    0     0
 5.54       817485.14          0     0     0     0          0    0     0
 6.23       1083071.14         0     0     0     0          0    0     0
 7.46       593875.46          0     0     0     0          0    0     0
 9.51       775910.43          0     0     0     0          0    0     0
...                          ...   ...   ...   ...        ...  ...   ...
 99.22      1205884.98         0     0     0     0          0    0     0
 99.66      237095.82          0     0     0     0          0    0     0
 100.07     297753.49          0     0     0     0          0    0     0
 100.14     280937.84          0     0     0     0          0    0     0
 All                         200   300   300   300        200  300   600

CPI                      126.085452              ... 226.966232 226.968844  \
Fuel_Price                     2.64 2.802 3.123  ...      3.617      3.594
Temperature Weekly_Sales                         ...
-2.06       558027.77             0     0     0  ...          0          0
 5.54       817485.14             0     0     0  ...          0          0
 6.23       1083071.14            0     0     0  ...          0          0
 7.46       593875.46             0     0     0  ...          0          0
 9.51       775910.43             0     0     0  ...          0          0
...                             ...   ...   ...  ...        ...        ...
 99.22      1205884.98            0     0     0  ...          0          0
 99.66      237095.82             0     0     0  ...          0          0
 100.07     297753.49             0     0     0  ...          0          0
 100.14     280937.84             0     0     0  ...          0          0
 All                            200   300   600  ...        100        200

CPI                      226.973545 226.987364 227.018417 227.036936  \
Fuel_Price                    3.601      3.506      3.594      3.506
Temperature Weekly_Sales
-2.06       558027.77             0          0          0          0
 5.54       817485.14             0          0          0          0
 6.23       1083071.14            0          0          0          0
 7.46       593875.46             0          0          0          0
 9.51       775910.43             0          0          0          0
...                             ...        ...        ...        ...
 99.22      1205884.98            0          0          0          0
 99.66      237095.82             0          0          0          0
 100.07     297753.49             0          0          0          0
 100.14     280937.84             0          0          0          0
 All                            100        200        100        100

CPI                      227.169392 227.214288 227.232807     All
Fuel_Price                    3.601      3.594      3.506
Temperature Weekly_Sales
-2.06       558027.77             0          0          0     100
 5.54       817485.14             0          0          0     100
 6.23       1083071.14            0          0          0     100
 7.46       593875.46             0          0          0     100
 9.51       775910.43             0          0          0     100
...                             ...        ...        ...     ...
 99.22      1205884.98            0          0          0     100
 99.66      237095.82             0          0          0     100
 100.07     297753.49             0          0          0     100
 100.14     280937.84             0          0          0     100
 All                            100        100        100  643500

[6436 rows x 3061 columns]