In [123]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns

In [124]:
df = pd.read_csv("house_prices.csv")

In [125]:
df.shape

(187531, 21)

In [126]:
df.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,...,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,...,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,...,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,...,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,...,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              187531 non-null  int64
 1   Title              187531 non-null  object
 2   Description        184508 non-null  object
 3   Amount(in rupees)  187531 non-null  object
 4   Price (in rupees)  169866 non-null  float64
 5   location           187531 non-null  object
 6   Carpet Area        106858 non-null  object
 7   Status             186916 non-null  object
 8   Floor              180454 non-null  object
 9   Transaction        187448 non-null  object
 10  Furnishing         184634 non-null  object
 11  facing             117298 non-null  object
 12  overlooking        106095 non-null  object
 13  Society            77853 non-null   object
 14  Bathroom           186703 non-null  object
 15  Balcony            138596 non-null  object
 16  Car Parking        84174 non-null   object
 17  Ownership          122014 non-null  object
 18  Super Area         79846 non-null   object
 19  Dimensions         0 non-null       float64
 20  Plot Area          0 non-null       float64
dtypes: float64(3), int64(1), object(17)
memory usage: 30.0+ MB

In [128]:
df.isnull().sum().sort_values(ascending=False)

Plot Area            187531
Dimensions           187531
Society              109678
Super Area           107685
Car Parking          103357
overlooking           81436
Carpet Area           80673
facing                70233
Ownership             65517
Balcony               48935
Price (in rupees)     17665
Floor                  7077
Description            3023
Furnishing             2897
Bathroom                828
Status                  615
Transaction              83
Title                     0
location                  0
Amount(in rupees)         0
Index                     0
dtype: int64

In [129]:
df.dropna(subset=["Price (in rupees)"])

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,...,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,...,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,...,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,...,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN
5,5,1 BHK Ready to Occupy Flat for sale in Virat A...,Creatively planned and constructed is a 1 BHK ...,45 Lac,6618.0,thane,NaN,Ready to Move,2 out of 7,Resale,...,East,"Garden/Park, Main Road",Virat Aangan,1,1,NaN,Co-operative Society,680 sqft,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187526,187526,3 BHK Ready to Occupy Flat for sale in Bollywo...,This magnificent 3 BHK Flat is available for s...,63 Lac,3225.0,zirakpur,NaN,Ready to Move,2 out of 4,New Property,...,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,1953 sqft,NaN,NaN
187527,187527,3 BHK Ready to Occupy Flat for sale in Sushma ...,Have a look at this immaculate 3 BHK flat for ...,55 Lac,3274.0,zirakpur,NaN,Ready to Move,4 out of 6,Resale,...,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,1680 sqft,NaN,NaN
187528,187528,3 BHK Ready to Occupy Flat for sale in Bollywo...,"Gazipur, Zirakpur has an appealing 3 BHK flat ...",76 Lac,4343.0,zirakpur,1250 sqft,Ready to Move,1 out of 3,Resale,...,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,NaN,NaN,NaN
187529,187529,2 BHK Ready to Occupy Flat for sale in Friends...,Up for immediate sale is a 2 BHK apartment in ...,30 Lac,4231.0,zirakpur,NaN,Ready to Move,2 out of 2,Resale,...,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,709 sqft,NaN,NaN
187530,187530,3 BHK Ready to Occupy Flat for sale in Affinit...,This exquisite 3 BHK Flat is offered for sale ...,1.18 Cr,6162.0,zirakpur,NaN,Ready to Move,5 out of 13,Resale,...,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1915 sqft,NaN,NaN

In [130]:
df.shape

(187531, 21)

In [131]:
df["Price (in rupees)"].isna().sum()

np.int64(17665)

In [132]:
df = df.dropna(subset= ["Price (in rupees)"])
df["Price (in rupees)"].isna().sum()

np.int64(0)

In [133]:
df.shape

(169866, 21)

In [134]:
df = df.drop(columns=["Dimensions","Plot Area","Index"])

In [135]:
df.shape

(169866, 18)

In [136]:
def convert_amount(value):
    if "Lac" in value:
        return float(value.replace("Lac","") ) * 100000
    elif "Cr" in value:
        return float (value.replace("Cr","")) * 10000000
    else: 
        return np.nan
df["total_price"] = df["Amount(in rupees)"].apply(convert_amount)

In [137]:
df[["Amount(in rupees)","total_price"]].head(10)

   Amount(in rupees)  total_price
0            42 Lac     4200000.0
1            98 Lac     9800000.0
2           1.40 Cr    14000000.0
4           1.60 Cr    16000000.0
5            45 Lac     4500000.0
6          16.5 Lac     1650000.0
7            60 Lac     6000000.0
8            60 Lac     6000000.0
9           1.60 Cr    16000000.0
10          1.40 Cr    14000000.0

In [138]:
df["total_price"].describe()

count    1.698660e+05
mean     1.198659e+07
std      4.025091e+07
min      1.000000e+05
25%      5.000000e+06
50%      7.800000e+06
75%      1.450000e+07
max      1.400300e+10
Name: total_price, dtype: float64

In [139]:
Q1 = df["total_price"].quantile(0.25)
Q3 = df["total_price"].quantile(0.75)
IQR = Q3-Q1
lower_bound = Q1-1.5*IQR
upper_bound = Q3 + 1.5*IQR
lower_bound , upper_bound

(np.float64(-9250000.0), np.float64(28750000.0))

In [140]:
df["total_price_capped"] = np.where(
    df["total_price"]> upper_bound,
        upper_bound,
    df["total_price"]
)

In [141]:
df["total_price_capped"].describe()

count    1.698660e+05
mean     1.054379e+07
std      7.789983e+06
min      1.000000e+05
25%      5.000000e+06
50%      7.800000e+06
75%      1.450000e+07
max      2.875000e+07
Name: total_price_capped, dtype: float64

**House prices show strong right skewness due to a small number of ultra-expensive properties. Using IQR-based capping, extreme upper outliers were controlled while preserving the central distribution, resulting in a more stable and realistic price distribution for further analysis.**

In [142]:
df["Carpet Area"].dropna().head(10)

0      500 sqft
1      473 sqft
2      779 sqft
4      635 sqft
6      550 sqft
9      900 sqft
10     950 sqft
13    1820 sqft
15     675 sqft
16     647 sqft
Name: Carpet Area, dtype: object

In [143]:
df["Carpet Area"].dropna().sample(10)

36915      880 sqft
73794     1200 sqft
88088      850 sqft
83713      952 sqft
126771    133 sqyrd
77602     1602 sqft
148066    1424 sqft
75225      688 sqft
115586    1950 sqft
179842     730 sqft
Name: Carpet Area, dtype: object

In [144]:
def convert_area(value):
    if pd.isna(value):
        return np.nan
    value = value.lower().strip()
    if "sqft" in value:
        return float(value.replace("sqft",""))
    elif "sqm" in value:
        return float(value.replace("sqm","")) *10.7639
    elif "sqyrd" in value:
        return float(value.replace("sqyrd","")) * 9
    else:
        return np.nan
df["carpet_area_sqft"]= df["Carpet Area"].apply(convert_area)

In [145]:
df["Carpet Area"].dropna().sample(10)

34960     1000 sqft
30669      805 sqft
29730     1435 sqft
180842     728 sqft
139672    1600 sqft
134846    2027 sqft
175356    1430 sqft
137006    2027 sqft
167621     405 sqft
134391    133 sqyrd
Name: Carpet Area, dtype: object

In [146]:
df.loc[
    df["Carpet Area"].str.contains("sqyrd|sqm|sqrt",case= False, na= False),
    ["Carpet Area","carpet_area_sqft"]
].sample(10)

       Carpet Area  carpet_area_sqft
134001   133 sqyrd         1197.0000
15338       78 sqm          839.5842
13705    103 sqyrd          927.0000
140724    50 sqyrd          450.0000
12802    180 sqyrd         1620.0000
115569   250 sqyrd         2250.0000
128811   133 sqyrd         1197.0000
11860    105 sqyrd          945.0000
2958     101 sqyrd          909.0000
156762  1850 sqyrd        16650.0000

In [147]:
df["carpet_area_sqft"].isna().sum()

np.int64(76243)

In [148]:
df["price_per_sqft"]= df["total_price_capped"]/df["carpet_area_sqft"]

In [149]:
df[["total_price_capped","carpet_area_sqft","price_per_sqft"]].sample(10)

        total_price_capped  carpet_area_sqft  price_per_sqft
87503            5100000.0               NaN             NaN
184857           4500000.0               NaN             NaN
165194          10700000.0            2133.0     5016.408814
49001            8000000.0               NaN             NaN
185979           5800000.0            1170.0     4957.264957
76077           11400000.0               NaN             NaN
181557           4800000.0               NaN             NaN
93100            6700000.0             793.0     8448.928121
112293          12100000.0            1450.0     8344.827586
139579          23500000.0            1760.0    13352.272727

Price per square foot could only be computed for properties with valid carpet area values. Observations with missing area were retained but excluded from price density analysis.

In [150]:
df["price_per_sqft"].describe()

count    9.362300e+04
mean     9.499437e+03
std      2.764957e+04
min      3.830877e+00
25%      5.416667e+03
50%      7.843137e+03
75%      1.215385e+04
max      7.000000e+06
Name: price_per_sqft, dtype: float64

In [151]:
df["price_per_sqft"].notna().sum()

np.int64(93623)

Price per square foot shows a highly right-skewed distribution. A small number of extremely high values significantly inflate the mean. Hence, median and IQR-based methods are preferred for further analysis.

In [152]:
Q1 = df["price_per_sqft"].quantile(0.25)
Q3 = df["price_per_sqft"].quantile(0.75)

IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

Q1, Q3, IQR, lower_bound, upper_bound

(np.float64(5416.666666666667),
 np.float64(12153.846153846154),
 np.float64(6737.179487179487),
 np.float64(-4689.1025641025635),
 np.float64(22259.615384615383))

In [153]:
df["price_per_sqft_capped"] = df["price_per_sqft"].clip(
    lower=lower_bound,
    upper=upper_bound
)

In [154]:
df["price_per_sqft_capped"].describe()

count    93623.000000
mean      9061.857333
std       4648.472389
min          3.830877
25%       5416.666667
50%       7843.137255
75%      12153.846154
max      22259.615385
Name: price_per_sqft_capped, dtype: float64

Price per square foot initially exhibited extreme skewness due to unrealistic values. IQR-based capping was applied to stabilize the distribution. After capping, the feature shows a reasonable range and variance, making it suitable for further analysis and modeling.

In [155]:
df["location"].value_counts().head(10)

location
new-delhi        24849
bangalore        23168
kolkata          19562
gurgaon          18238
ahmedabad        12178
hyderabad        10041
chennai           9252
jaipur            7416
greater-noida     4429
faridabad         3668
Name: count, dtype: int64

In [156]:
location_counts = df["location"].value_counts()
df["location_clean"]= df["location"].apply(lambda x: x if location_counts[x]>=1000 else "other")

In [157]:
df["location_clean"].value_counts()

location_clean
new-delhi        24849
bangalore        23168
kolkata          19562
gurgaon          18238
other            18061
ahmedabad        12178
hyderabad        10041
chennai           9252
jaipur            7416
greater-noida     4429
faridabad         3668
vadodara          2207
surat             2107
pune              2073
thane             1757
mumbai            1692
visakhapatnam     1606
zirakpur          1453
mohali            1443
chandigarh        1395
noida             1239
ranchi            1017
bhiwadi           1015
Name: count, dtype: int64

In [158]:
location_price = (df.groupby("location_clean")['price_per_sqft_capped'].median().sort_values(ascending=False))

In [159]:
df.groupby("location_clean")["price_per_sqft_capped"].count().sort_values(ascending=False)

location_clean
new-delhi        20787
gurgaon          11676
kolkata           8939
other             8844
bangalore         7471
ahmedabad         6020
hyderabad         5505
chennai           3956
jaipur            3487
faridabad         2946
greater-noida     2564
mumbai            1315
pune              1257
vadodara          1234
thane             1164
visakhapatnam     1030
zirakpur          1025
mohali             994
chandigarh         872
surat              773
noida              677
ranchi             595
bhiwadi            492
Name: price_per_sqft_capped, dtype: int64

In [160]:
df.groupby("location_clean")["price_per_sqft_capped"] \
  .median() \
  .sort_values(ascending=False)

location_clean
mumbai           22259.615385
thane            15061.128296
new-delhi        12153.846154
gurgaon          11111.111111
pune              9356.725146
bangalore         8630.000000
noida             7992.007992
hyderabad         7986.111111
chennai           6880.459918
ahmedabad         6878.306878
greater-noida     6684.210526
chandigarh        6509.886248
surat             6321.839080
kolkata           5750.000000
other             5636.363636
mohali            5620.237397
faridabad         5405.405405
zirakpur          5376.344086
visakhapatnam     5208.695652
ranchi            5000.000000
jaipur            4916.666667
vadodara          4476.901208
bhiwadi           2724.747475
Name: price_per_sqft_capped, dtype: float64

Location is the strongest driver of housing prices. Metro regions like Mumbai and Delhi NCR command significantly higher price per square foot compared to Tier-2 and peripheral cities. Median price per square foot provides a robust comparison across cities by minimizing the effect of outliers.

In [161]:
df.select_dtypes(include=["int64","float64"]).columns

Index(['Price (in rupees)', 'total_price', 'total_price_capped',
       'carpet_area_sqft', 'price_per_sqft', 'price_per_sqft_capped'],
      dtype='object')

In [162]:
df[["total_price_capped",
    "carpet_area_sqft",
    "price_per_sqft_capped"]].corr()

,total_price_capped,carpet_area_sqft,price_per_sqft_capped
total_price_capped,1.000000,0.147628,0.666676
carpet_area_sqft,0.147628,1.000000,-0.001546
price_per_sqft_capped,0.666676,-0.001546,1.000000

Correlation analysis shows that capped price per square foot is the strongest predictor of total house price, while carpet area contributes modestly. The two features are largely independent, making them suitable complementary predictors.

In [163]:
model_df= df[["total_price_capped",
    "carpet_area_sqft",
    "price_per_sqft_capped"]].dropna()

In [164]:
model_df.shape

(93623, 3)

In [165]:
from sklearn.model_selection import train_test_split
X= model_df[["carpet_area_sqft","price_per_sqft_capped"]]
y = model_df[["total_price_capped"]]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape,X_test.shape

((74898, 2), (18725, 2))

In [166]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)

lr.coef_, lr.intercept_

(array([[ 438.32037413, 1210.57257895]]), array([113704.52108515]))

In [167]:
from sklearn.metrics import r2_score, mean_absolute_error
y_pred = lr.predict(X_test)
r2 = r2_score(y_test,y_pred)
mae = mean_absolute_error(y_test,y_pred)
r2,mae

(0.46071131660788045, 4122995.789264598)

In [168]:
model_df_loc = df[[
    "total_price_capped",
    "carpet_area_sqft",
    "price_per_sqft_capped",
    "location_clean"
]].dropna()

model_df_loc.shape

(93623, 4)

In [169]:
model_df_encoded=pd.get_dummies(model_df_loc,columns=["location_clean"],drop_first=True)

In [170]:
model_df_encoded.shape

(93623, 25)

In [171]:
X = model_df_encoded.drop("total_price_capped", axis=1)
y = model_df_encoded["total_price_capped"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

X_train.shape, X_test.shape

((74898, 24), (18725, 24))

In [172]:
lr_loc = LinearRegression()
lr_loc.fit(X_train, y_train)

lr_loc.coef_[:5], lr_loc.intercept_

(array([ 3.75875499e+02,  1.12900111e+03, -1.61330241e+06, -1.76648851e+06,
        -7.65810498e+05]),
 np.float64(962843.3999043833))

In [173]:
from sklearn.metrics import r2_score, mean_absolute_error

y_pred_loc = lr_loc.predict(X_test)

r2_loc = r2_score(y_test, y_pred_loc)
mae_loc = mean_absolute_error(y_test, y_pred_loc)

r2_loc, mae_loc

(0.5425172888732748, 3736946.012572489)

In [174]:
df["Bathroom"].value_counts().head(15)

Bathroom
2       84314
3       52741
1       14950
4       14148
5        2685
6         178
7          32
> 10       28
8          14
9          11
10         11
Name: count, dtype: int64

In [175]:
# Step 1: Replace '> 10' with '10'
df["Bathroom_clean"] = df["Bathroom"].replace("> 10", "10")

# Step 2: Convert to numeric
df["Bathroom_clean"] = pd.to_numeric(df["Bathroom_clean"], errors="coerce")

# Step 3: Cap at 6
df["Bathroom_clean"] = df["Bathroom_clean"].clip(upper=6)

df["Bathroom_clean"].value_counts().sort_index()

Bathroom_clean
1.0    14950
2.0    84314
3.0    52741
4.0    14148
5.0     2685
6.0      274
Name: count, dtype: int64

In [176]:
df[["total_price_capped","Bathroom_clean"]].corr()

                    total_price_capped  Bathroom_clean
total_price_capped            1.000000        0.691445
Bathroom_clean                0.691445        1.000000

In [177]:
df["Floor"].dropna().sample(10)

33764       2 out of 4
76931       1 out of 5
8807       5 out of 11
29485      5 out of 10
6258       2 out of 10
113331      2 out of 4
129074      3 out of 4
173677      1 out of 4
173874      4 out of 8
79422     16 out of 26
Name: Floor, dtype: object

In [178]:
# Split floor into two parts
floor_split = df["Floor"].str.extract(r"(\d+)\s*out of\s*(\d+)", expand=True)

df["current_floor"] = pd.to_numeric(floor_split[0], errors="coerce")
df["total_floors"] = pd.to_numeric(floor_split[1], errors="coerce")

df[["Floor", "current_floor", "total_floors"]].sample(10)

              Floor  current_floor  total_floors
118969   6 out of 8            6.0           8.0
101127  2 out of 18            2.0          18.0
176135   1 out of 4            1.0           4.0
167375   7 out of 7            7.0           7.0
173995   2 out of 4            2.0           4.0
76501    2 out of 4            2.0           4.0
52849    2 out of 2            2.0           2.0
9566     1 out of 3            1.0           3.0
152920   2 out of 3            2.0           3.0
7882     4 out of 7            4.0           7.0

In [179]:
df["floor_ratio"] = df["current_floor"] / df["total_floors"]

In [180]:
df[["Floor", "current_floor", "total_floors", "floor_ratio"]].sample(10)

               Floor  current_floor  total_floors  floor_ratio
45429     3 out of 5            3.0           5.0     0.600000
96880     1 out of 3            1.0           3.0     0.333333
155566    1 out of 4            1.0           4.0     0.250000
66644     1 out of 4            1.0           4.0     0.250000
163162  14 out of 15           14.0          15.0     0.933333
60214   14 out of 15           14.0          15.0     0.933333
164117  16 out of 17           16.0          17.0     0.941176
91751     2 out of 4            2.0           4.0     0.500000
50885   30 out of 35           30.0          35.0     0.857143
122300   7 out of 10            7.0          10.0     0.700000

In [181]:
df[[
    "total_price_capped",
    "floor_ratio"
]].corr()

                    total_price_capped  floor_ratio
total_price_capped            1.000000     0.034694
floor_ratio                   0.034694     1.000000

In [183]:
from sklearn.impute import SimpleImputer

num_features = ['carpet_area_sqft', 'Bathroom_clean']
cat_features = ['location_clean']

numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median'))
])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, num_features),
        ('cat', categorical_transformer, cat_features)
    ]
)

model = Pipeline(steps=[
    ('preprocess', preprocessor),
    ('regressor', LinearRegression())
])

model.fit(X_train, y_train)

ValueError: A given column is not a column of the dataframe

In [184]:
from sklearn.metrics import r2_score, mean_squared_error
import numpy as np

y_pred = model.predict(X_test)

r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

r2, rmse

NotFittedError: This Pipeline instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

In [185]:
from sklearn.metrics import r2_score, mean_squared_error
import numpy as np

y_pred = model.predict(X_test)

r2 = r2_score(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

r2, rmse

NotFittedError: This Pipeline instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

“Log transform did not improve performance because the baseline model had already captured the dominant linear signal; remaining error is due to real-world pricing noise and missing micro-features.”

In [ ]:
features = ['carpet_area_sqft', 'Bathroom_clean', 'location_clean']
target = 'total_price_capped'

X = df[features]
y = df[target]

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore'), ['location_clean'])
    ],
    remainder='passthrough'
)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor

model = Pipeline(steps=[
    ('preprocess', preprocessor),
    ('rf', RandomForestRegressor(
        n_estimators=100,
        random_state=42,
        n_jobs=-1
    ))
])

In [ ]:
model.fit(X_train, y_train)

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor

num_features = ['carpet_area_sqft', 'Bathroom_clean']
cat_features = ['location_clean']

num_pipeline = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median'))
])

cat_pipeline = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', num_pipeline, num_features),
        ('cat', cat_pipeline, cat_features)
    ]
)

model = Pipeline(steps=[
    ('preprocess', preprocessor),
    ('rf', RandomForestRegressor(
        n_estimators=100,
        random_state=42,
        n_jobs=-1
    ))
])

In [ ]:
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

r2, rmse

In [ ]:
from sklearn.ensemble import RandomForestRegressor

rf_tuned = RandomForestRegressor(
    n_estimators=300,        # more stable than 100
    max_depth=20,            # control overfitting
    min_samples_leaf=5,      # reduce noise
    random_state=42,
    n_jobs=-1
)

model_tuned = Pipeline(steps=[
    ('preprocess', preprocessor),
    ('rf', rf_tuned)
])

In [ ]:
model_tuned.fit(X_train, y_train)

y_pred = model_tuned.predict(X_test)

r2 = r2_score(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred) ** 0.5

r2, rmse

In [ ]:
import pandas as pd

# Get feature names after one-hot encoding
feature_names = model.named_steps['preprocess'].get_feature_names_out()

# Get importance values
importances = model.named_steps['rf'].feature_importances_

# Create DataFrame
feat_imp = pd.DataFrame({
    'feature': feature_names,
    'importance': importances
}).sort_values(by='importance', ascending=False)

feat_imp.head(10)

“In this dataset and model, bathroom acts as a strong categorical proxy that tree-based models exploit.”

In [ ]:

# Top 8 cities by count
top_cities = (
    df['location_clean']
    .value_counts()
    .head(8)
    .index
)

plot_df = df[df['location_clean'].isin(top_cities)]

plt.figure(figsize=(12, 6))
sns.boxplot(
    data=plot_df,
    x='location_clean',
    y='price_per_sqft_capped'
)

plt.xticks(rotation=45)
plt.title('City-wise Price per Sqft Distribution')
plt.xlabel('City')
plt.ylabel('Price per Sqft (Capped)')
plt.tight_layout()
plt.show()

In [ ]:
import numpy as np

y_train_log = np.log1p(y_train)
y_test_log = np.log1p(y_test)

In [ ]:
model.fit(X_train, y_train_log)

In [ ]:
y_pred_log = model.predict(X_test)

In [ ]:
y_pred = np.expm1(y_pred_log)

In [ ]:
from sklearn.metrics import r2_score, mean_squared_error

r2 = r2_score(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

r2, rmse

In [ ]:
# Predictions
y_pred = model.predict(X_test)

# Residuals
residuals = y_test - y_pred

residuals.head()

In [ ]:
import matplotlib.pyplot as plt

plt.scatter(y_pred, residuals, alpha=0.3)
plt.axhline(0, color='red')
plt.xlabel("Predicted Price")
plt.ylabel("Residual (Actual - Predicted)")
plt.title("Residuals vs Predicted Price")
plt.show()

“The residual plot shows increasing variance with price, confirming heteroscedasticity, which is typical in housing data.”

In [ ]:
test_with_residuals = X_test.copy()
test_with_residuals['residual'] = residuals.values

city_error = (
    test_with_residuals
    .groupby('location_clean')['residual']
    .mean()
    .sort_values()
)

city_error