In [8]:
import numpy as np
import pandas as pd
n = np.random.randint(5)
index = ["a","b","c","d","e"]
s1 = pd.Series(n,index = index)
s1

a    3
b    3
c    3
d    3
e    3
dtype: int64

In [10]:
d = {"a":1,"b":2,"c":3,"d":4,"e":5}
s2= pd.Series(d)
s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [26]:
print(s1)
s1.index=["A","B","C","D","E"]

A    3
B    3
C    3
D    3
E    3
dtype: int64

In [20]:
a = s1[:3] #slice

In [21]:
a

A    3
B    3
C    3
dtype: int64

In [34]:
s3 = pd.concat([s1,s2])
s3

A    3
B    3
C    3
D    3
E    3
A    1
B    2
C    3
D    4
E    5
dtype: int64

In [36]:
s3.drop("E")

A    3
B    3
C    3
D    3
A    1
B    2
C    3
D    4
dtype: int64

In [37]:
s3

A    3
B    3
C    3
D    3
E    3
A    1
B    2
C    3
D    4
E    5
dtype: int64

In [38]:
from enum import Enum
class Color(Enum):
    RED = 'red'
    GREEN = 'green'
    BLUE = 'blue'

color = Color(input("Enter your choice of 'red', 'blue' or 'green': "))

match color:
    case Color.RED:
        print("I see red!")
    case Color.GREEN:
        print("Grass is green")
    case Color.BLUE:
        print("I'm feeling the blues :(")

Enter your choice of 'red', 'blue' or 'green':  red

I see red!

In [54]:
import pandas as pd 
import numpy as np
s= pd.Series([1,2,3,4,np.nan,2.3])
s

0    1.0
1    2.0
2    3.0
3    4.0
4    NaN
5    2.3
dtype: float64

In [55]:
dates = pd.date_range("19990506",periods = 6)
dates

DatetimeIndex(['1999-05-06', '1999-05-07', '1999-05-08', '1999-05-09',
               '1999-05-10', '1999-05-11'],
              dtype='datetime64[ns]', freq='D')

In [57]:
df = pd.DataFrame(np.random.randint(6,10), index = dates, columns = list("ABCD"))
df

            A  B  C  D
1999-05-06  7  7  7  7
1999-05-07  7  7  7  7
1999-05-08  7  7  7  7
1999-05-09  7  7  7  7
1999-05-10  7  7  7  7
1999-05-11  7  7  7  7

In [60]:
df.head(2)

            A  B  C  D
1999-05-06  7  7  7  7
1999-05-07  7  7  7  7

In [62]:
df.tail(1)

            A  B  C  D
1999-05-11  7  7  7  7

In [65]:
df.index

DatetimeIndex(['1999-05-06', '1999-05-07', '1999-05-08', '1999-05-09',
               '1999-05-10', '1999-05-11'],
              dtype='datetime64[ns]', freq='D')

In [66]:
df.to_numpy

<bound method DataFrame.to_numpy of             A  B  C  D
1999-05-06  7  7  7  7
1999-05-07  7  7  7  7
1999-05-08  7  7  7  7
1999-05-09  7  7  7  7
1999-05-10  7  7  7  7
1999-05-11  7  7  7  7>

In [67]:
df.describe()

         A    B    C    D
count  6.0  6.0  6.0  6.0
mean   7.0  7.0  7.0  7.0
std    0.0  0.0  0.0  0.0
min    7.0  7.0  7.0  7.0
25%    7.0  7.0  7.0  7.0
50%    7.0  7.0  7.0  7.0
75%    7.0  7.0  7.0  7.0
max    7.0  7.0  7.0  7.0

In [68]:
df.T

   1999-05-06  1999-05-07  1999-05-08  1999-05-09  1999-05-10  1999-05-11
A           7           7           7           7           7           7
B           7           7           7           7           7           7
C           7           7           7           7           7           7
D           7           7           7           7           7           7