In [3]:
import pandas as pd

data = pd.read_csv("DNA_Dataset_Normalized.xls")

In [4]:
data

,gene_1,gene_2,gene_3,gene_4,gene_6,gene_7,gene_10,gene_11,gene_12,gene_13,...,gene_41,gene_42,gene_43,gene_44,gene_45,gene_46,gene_47,gene_48,gene_49,Class
0,2.325242,3.247092,8.174007,10.065053,7.487446,0.000000,0.000000,0.000000,2.759582,0.000000,...,0.000000,0.000000,0.566572,2.759582,7.149066,9.382985,11.393793,11.642183,0.000000,1
1,3.446190,3.620962,7.171917,9.796559,8.175245,1.972509,0.000000,1.972509,2.218967,0.000000,...,0.000000,0.000000,0.000000,0.000000,7.292138,10.073097,8.763408,11.354894,0.791689,1
2,2.554196,1.296134,8.770277,10.462901,8.013993,0.000000,0.000000,0.736562,3.543446,0.000000,...,0.000000,0.414785,0.000000,6.290605,6.865300,9.681449,8.968667,11.782720,0.414785,1
3,3.667699,3.083179,7.997292,9.516886,7.925424,0.732486,0.000000,0.000000,3.762157,0.000000,...,0.000000,0.000000,0.000000,0.000000,7.258726,10.100321,9.391772,11.355979,0.000000,1
4,3.821935,3.717605,7.593100,10.205964,7.613185,0.000000,0.000000,0.000000,1.982364,0.000000,...,0.000000,0.000000,0.000000,2.261441,8.054105,10.471025,8.439449,11.730143,0.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,0.000000,1.886433,7.052959,9.965753,7.085977,0.000000,1.008272,1.231801,3.474371,0.419215,...,0.419215,0.000000,0.743558,0.419215,5.993450,10.303747,10.196737,10.920301,0.000000,5
386,0.000000,4.154988,5.868203,10.381900,7.353509,0.000000,0.000000,1.167037,2.243852,0.000000,...,0.000000,0.698485,0.000000,1.803640,6.670826,10.622015,9.567768,10.973898,0.000000,5
387,1.256286,2.155684,6.898692,9.994891,7.849955,0.489235,0.489235,0.853916,2.975098,0.000000,...,0.000000,0.000000,0.000000,1.774966,11.031391,10.641411,9.913281,11.420702,0.000000,5
388,2.423255,3.190883,7.171527,9.156098,7.191207,1.287945,0.566182,1.287945,1.957395,0.000000,...,0.000000,0.000000,0.000000,1.766807,5.419937,9.940838,10.266002,10.171765,0.000000,5
389,1.455281,2.775535,5.009284,9.995894,7.806421,0.000000,0.000000,2.037312,2.849919,0.000000,...,0.000000,0.000000,0.000000,0.000000,2.455413,10.939513,8.447418,11.912414,1.250901,5

In [5]:
from sklearn.decomposition import PCA

In [6]:
X = data.drop("Class", axis =1).to_numpy()
Y = data["Class"].to_numpy()

In [7]:
%%timeit

from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression(max_iter=1000)
logreg.fit(X, Y)

27.1 ms ± 302 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [8]:
pca = PCA(n_components=25)

In [9]:
X_reduced = pca.fit_transform(X)

In [10]:
X_reduced.shape

(390, 25)

In [11]:
sum(pca.explained_variance_ratio_)

np.float64(0.96446036815059)

In [12]:
%%timeit

from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(X_reduced, Y)

5.31 ms ± 12.5 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)